<%= form_for(@guestbook_entry) do |f| %>
  <% if @guestbook_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guestbook_entry.errors.count, "error") %>:</h2>

      <ul>
      <% @guestbook_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <br />
  <% end %>

  <div class="field">
    <%= f.label "Name:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Email: (optional)" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Stadt: (optional)" %><br />
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label "Nachricht:" %><br />
    <%= f.text_area :message %>
  </div>
  <% if false %>
  <div class="field">
    <%= f.label :refer_to %><br />
    <%= f.number_field :refer_to %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Eintragen" %>
  </div>
<% end %>
