<div class="headline">
	Benutzer
</div>

<div class="function_links_line">
	<%= link_to 'Neuer Benutzer', new_user_path %>
</div>
<br /><br />

<%= major_block("Vorstände") do %>
	<% @user.each do |user| %>
		<% if user.title == "Vorstand" then %>
			<strong>
				<%= user.firstname %>
				<%= user.lastname %>
				(<%=mail_to user.email, "email" %>)
			</strong>
			<% if user.job then %>
				<br />
				<%= user.job %>
			<% end %>
			<div class="function_links_line">
				<%= link_to "Anzeigen", user %> |
				<%= link_to 'Bearbeiten', edit_user_path(user) %> |
				<%= link_to 'Löschen', user, confirm: 'Sind Sie sicher?', method: :delete %>
			</div>
			<br /><br />
		<% end %>
	<% end %>
<% end %>

<%= major_block("Beiräte") do %>
	<% @user.each do |user| %>
		<% if user.title == "Beirat" then %>
			<strong>
				<%= user.firstname %>
				<%= user.lastname %>
				(<%=mail_to user.email, "email" %>)
			</strong>
			<% if user.job then %>
				<br />
				<%= user.job %>
			<% end %>
			<div class="function_links_line">
				<%= link_to "Anzeigen", user %> |
				<%= link_to 'Bearbeiten', edit_user_path(user) %> |
				<%= link_to 'Löschen', user, confirm: 'Sind Sie sicher?', method: :delete %>
			</div>
			<br /><br />
		<% end %>
	<% end %>
<% end %>

<%= major_block("Administratoren") do %>
	<% @user.each do |user| %>
		<% if user.title == "Administrator" then %>
			<strong>
				<%= user.firstname %>
				<%= user.lastname %>
				(<%=mail_to user.email, "email" %>)
			</strong>
			<% if user.job then %>
				<br />
				<%= user.job %>
			<% end %>
			<div class="function_links_line">
				<%= link_to "Anzeigen", user %> |
				<%= link_to 'Bearbeiten', edit_user_path(user) %> |
				<%= link_to 'Löschen', user, confirm: 'Sind Sie sicher?', method: :delete %>
			</div>
			<br /><br />
		<% end %>
	<% end %>
<% end %>

<%= major_block("Fotografen") do %>
	<% @user.each do |user| %>
		<% if user.title == "Fotograf" then %>
			<strong>
				<%= user.firstname %>
				<%= user.lastname %>
				(<%=mail_to user.email, "email" %>)
			</strong>
			<% if user.job then %>
				<br />
				<%= user.job %>
			<% end %>
			<div class="function_links_line">
				<%= link_to "Anzeigen", user %> |
				<%= link_to 'Bearbeiten', edit_user_path(user) %>|
				<%= link_to 'Löschen', user, confirm: 'Sind Sie sicher?', method: :delete %>
			</div>
			<br /><br />
		<% end %>
	<% end %>
<% end %>
