<%= major_block("Vorst채nde und Beir채te - Aufgabenverteilung") do %>
	<p>
		<strong>Vorst채nde:</strong>
		<p class="indent">	
			<% @users.each do |user| %>
				<% if user.title == "Vorstand" then %>
					<strong>
						<%= user.firstname %>
						<%= user.lastname %>
						(<a href="#{user.email}">email</a>)
					</strong><br />
					<% if user.job then %>
						<%= user.job %>
						<br />
					<% end %>
					<br />
				<% end %>
			<% end %>
		</p>
		<strong>Beir채te:</strong>
		<p class="indent">	
			<% @users.each do |user| %>
				<% if user.title == "Beirat" then %>
					<strong>
						<%= user.firstname %>
						<%= user.lastname %>
						(<a href="#{user.email}">email</a>)
					</strong><br />
					<% if user.job then %>
						<%= user.job %>
						<br />
					<% end %>
					<br />
				<% end %>
			<% end %>
		</p>
	</p>
<% end %>
