<div class="headline">
	<%= "Benutzer anzeigen" %> 
</div>

<p>
  <b>Nachname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Vorname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Titel:</b>
  <%= @user.title %>
</p>


<%= link_to 'Bearbeiten', edit_user_path(@user) %> |
<%= link_to 'Zurück', list_user_path %>
