<% @events.each do |event| %>
	<% if event.published %>
		<% if (event.eventdate >= Date.current - EVENT_DAYS_PASSED_BEFORE_ARCHIVE) || (event.sticky) %>
			<div class="block_wrapper">
	    		<div class="block_headline">
	    			<span class="block_title"><%= event.name %></span>
	    			<span class="event_date"><%= event.eventdate.strftime("%d.%m.%y") %></span>
	    			<div class="float_clear"></div>
	    		</div>
	    		<div class="block_text">
	    			<%= event.description %>
	    		</div>
			</div>
		<% end %>
	<% end %>
<% end %>

<br><br><br>

<table>
  <tr>
    <th>Name</th>
    <th>Eventdate</th>
    <th>Doors</th>
    <th>Showstart</th>
    <th>Entryfee</th>
    <th>Description</th>
    <th>Sticky</th>
    <th>Published</th>
    <th>Galleryset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <% if event.eventdate >= Date.current - EVENT_DAYS_PASSED_BEFORE_ARCHIVE %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.eventdate %></td>
      <td><%= event.doors %></td>
      <td><%= event.showstart %></td>
      <td><%= event.entryfee %></td>
      <td><%= event.description %></td>
      <td><%= event.sticky %></td>
      <td><%= event.published %></td>
      <td><%= event.galleryset_id %></td>
      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
