<h1>Listing bands</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bandinfo</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Homepage</th>
    <th>Picture</th>
    <th>Notices</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bands.each do |band| %>
  <tr>
    <td><%= band.name %></td>
    <td><%= band.bandinfo %></td>
    <td><%= band.email %></td>
    <td><%= band.telephone %></td>
    <td><%= band.homepage %></td>
    <td><%= band.picture %></td>
    <td><%= band.notices %></td>
    <td><%= band.type %></td>
    <td><%= link_to 'Show', band %></td>
    <td><%= link_to 'Edit', edit_band_path(band) %></td>
    <td><%= link_to 'Destroy', band, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Band', new_band_path %>
