<!DOCTYPE html>
<html>
<head>
  <title>SuKu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= init_tinymce_hammer_if_required %>
</head>
<body>
<div class="wrapper">
	
<div class="header">
	<% flash.each do |name, msg| %>
    	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	
</div>

<div class="menu">
	<% if session[:username] %>
	<% else %>
		<%= link_to "Events", list_events_path, :class => "menu_link", :id => "menu_link_events" %><br />
		<%= link_to "About", "/StaticPages?id=about", :class => "menu_link", :id => "menu_link_about" %><br />
		<%= link_to "Guestbook", guestbook_path, :class => "menu_link", :id => "menu_link_guestbook" %><br />
	<% end %>
</div>

<div class="content">
<%= yield(:content) or yield %>
</div>

<div class="float_clear"></div>
</div>
</body>
</html>
