<!DOCTYPE html>
<html>
<head>
  <title>SuKu</title>
  <%= stylesheet_link_tag 'facebox' %> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery' %>  
  <%= javascript_include_tag 'facebox' %>
  <%= csrf_meta_tags %>
  <%= init_tinymce_hammer_if_required %>
</head>
<body>
<div class="global_wrapper">
	
<div class="global_header">
	<div class="header_logo">
		<%= image_tag "logo.jpg" %>
	</div>
	<div class="header_text">
		Subkultur e.V<br />
		Auf der Lände 7<br />
		82256 Fürstenfeldbruck<br />
		<br />
		Tel.: 08141 - 159 20<br />
		E-Mail: info@subkultur-ffb.de
		<% if session[:user_id] %>
			<br><%= link_to "logout", logout_path =%>
		<%end%>
	</div>
</div>

<%= clear_float %>

<div class="global_menu">
	<ul>
		<li><%= link_to "Events", list_events_path, :class => "menu_link", :id => "menu_link_events" %></li>
		<li><%= link_to "About", "/StaticPages?id=about&subid=what_is_suku", :class => "menu_link", :id => "menu_link_about" %></li>
		<li><%= link_to "Guestbook", guestbook_path, :class => "menu_link", :id => "menu_link_guestbook" %></li>
		<li><%= link_to "Archiv", archive_path, :class => "menu_link", :id => "menu_link_archive" %></li>
		<% if session[:user_id] %>
			<li><%= link_to "Members", list_members_path, :class => "menu_link", :id => "menu_link_members" %></li>
		<% end %>
	</ul>
</div>

<div class="global_content">
	<% flash.each do |name, msg| %>
    	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	<%= yield(:content) or yield %>
</div>

<%= clear_float %>

<div class="global_footer">
	<%= image_tag "hr.gif" %>
	<br />
	&copy; 2013 subkultur e.V. &middot;
	<%= link_to "home", "/" %>
	&middot;
	<%= link_to "contact", "/StaticPages?id=about&subid=address" %>
	&middot;
	<%= link_to "disclaimer", "/StaticPages?id=about&subid=disclaimer" %>
	<% if session[:user_id] %>
	<% else %>
		&middot;
		<%= link_to "login", login_path, :id => 'login-link', :rel => "facebox" %>
	<% end %>
</div>

</div>
</body>
</html>
