<div class="headline">
	Mitglieder
</div>

<div class="function_links_line">
	<%= link_to 'Hinzufügen', new_member_path %>
</div>
<br /><br />

<div class="multipage_select_line">
	<%= "« | " %>
	<% "A".upto("Z") do |l| %>
		<% if l == @letter %>
			<span class="multipage_select_current_page"><%= "#{l}" %></span>
		<% else %> 
			<%= link_to l, "/Members/#{l}" %>
		<% end %>
	<% end %>
	<% if @letter == "0" %>
		<span class="multipage_select_current_page">#</span>
	<% else %>
		<%= link_to "#", "/Members/0" %>
	<% end %>
	<%= " | »" %>
</div>
<br />

<% @members.each do |member| %>
  <%= link_to "#{member.lastname} #{member.firstname}", member %><br />
<% end %>
