<p id="notice"><%= notice %></p>

<div class="headline">
	<%= "Mitglied anzeigen" %> 
</div>

<%= major_block("Adresse") do %>
	<strong>
		<%= "#{@member.firstname} #{@member.lastname}" %>
		<br />
		<%= "#{@member.address_street}" %>
		<br />
		<%= "#{@member.address_zip} #{@member.address_town}" %>
	</strong>
<% end %>

<%= major_block("Telefonnummer") do %>
	<strong>
		<%= "#{@member.telephone}" %>
	</strong>
<% end %>

<%= major_block("E-Mail") do %>
	<strong>
		<%= link_to "#{@member.email}", "mailto:#{@member.email}" %>
	</strong>
<% end %>

<%= major_block("Eintrittsdatum") do %>
	<strong>
		<%= "#{@member.entrydate.strftime('%d.%m.%y')}" %>
	</strong>
<% end %>

<%= major_block("Geburtstag") do %>
	<strong>
		<%= "#{@member.birthday.strftime('%d.%m.%y')}" %>
	</strong>
<% end %>

<%= major_block("Kontoinformationen") do %>
	<strong>Kontonummer: </strong>
	<%= "#{@member.bankaccount_nr}" %>
	<br />
	<strong>Bankleitzahl: </strong>
	<%= "#{@member.bankaccount_blz}" %>
	<br />
	<strong>Bankname: </strong>
	<%= "#{@member.bankaccount_bankname}" %>
<% end %>

<%= link_to 'Bearbeiten', edit_member_path(@member) %> |
<%= link_to 'Löschen', @member, confirm: 'Sicher?', method: :delete %> |
<%= link_to 'Zurück', members_path %>
